* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

    --primary-bg-color: #dce0e6;
    --secondary-bg-color: #7d8ca2; 
    --primary-text-color: #1f1f20;
    --secondary-text-color: #7d8ca2;
    --primary-highlight-color: #567ebb;
    --secondary-highlight-color: #2b4c7e;
    --check-task-color: #1eb001;
    --archive-task-color: #567ebb;
    --delet-task-color: #c41d03;
}

body {
    font-size: 1.6rem;
}

main {
    background: var(--primary-bg-color);
    min-height: 100vh;
    place-content: center;
    display: flex;
    justify-content: space-between;
}


/* Sweet alert style */
.swal2-popup #swal2-html-container {
    font-size: 1.5rem;
    color: var(--primary-text-color);
}

.swal2-title {
    color: var(--primary-text-color);
}

.swal2-actions button.swal2-confirm {
    background: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .05rem;
}


/* sidebar container */
.sidebar-container {
    width: 20%;
}

.sidebar-container-profile_info {
    text-align: center;
}

.sidebar-container .sidebar-container-profile_info span {
    float: right;
    position: relative;
    margin: -3rem 2rem 0 2rem;
    cursor: pointer;
    color: var(--primary-text-color);
}

.sidebar-container .sidebar-container-profile_info #image {
    margin: 5rem 2.4rem 0;
    justify-content: center;
}

.sidebar-container .sidebar-container-profile_info img {
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 50%;
}

.sidebar-container .sidebar-container-profile_info h2 {
    margin: 0 2.4rem 2rem;
    font-size: 2.4rem;
    color: var(--primary-text-color);
    font-weight: 400;
}

.sidebar-container .sidebar-container-profile_info p {
    margin: 0 2.4rem 3rem;
    color: var(--primary-text-color);
    text-align: justify;
}

.sidebar-container .sidebar-container-links .list {
    list-style-type: none;
    text-align: left;
}

.sidebar-container .sidebar-container-links .list li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .8rem 2rem;
    cursor: pointer;
}

.sidebar-container .sidebar-container-links .list li:hover {
    background: #c2cad6;
    transition: 250ms ease-out;
}

.sidebar-container .sidebar-container-links .list li span {
    font-size: 2.2rem;
    color: var(--primary-text-color);
}

.sidebar-container .sidebar-container-links .list li a {
    color: var(--primary-text-color);
}


/* main container */
.main-container {
    background: var(--secondary-bg-color);
    width: 80%;
    text-align: center;
}

.main-container h1 {
    color: var(--primary-text-color);
    font-size: 3.6rem;
    margin: 3rem 2.4rem;
    font-weight: 600;
}

.main-container .main-container-adding_task {
    margin: 0 2.4rem 4rem;
    display: flex;
    justify-content: center;
}

.main-container .main-container-adding_task input::placeholder {
    color: var(--secondary-bg-color);
    letter-spacing: .05rem;
    font-size: 1.6rem;
}

.main-container .main-container-adding_task input {
    border: none;
    border-radius: 1rem 0 0 1rem;
    background: var(--primary-bg-color);
    height: 4.5rem;
    font-size: 1.6rem;
    padding: 0 1.2rem;
    outline: none;
    color: var(--primary-text-color);
    width: 30rem;
}

.main-container .main-container-adding_task select {
    background: var(--primary-bg-color);
    border: none;
    color: var(--primary-text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    outline: none;
    height: 4.5rem;
    text-align: center;
    cursor: pointer;
}

.main-container .main-container-adding_task button {
    padding: 0 1rem;
    border: none;
    border-radius: 0 1rem 1rem 0;
    background: var(--primary-bg-color);
    height: 4.5rem;
    font-size: 2.2rem;
    outline: none;
    padding: 0 1rem;
    color: var(--primary-text-color);
    cursor: pointer;
}

.main-container .main-container-adding_task button:hover {
    opacity: .8;
    transition: 250ms ease-out;
}

.main-container-list h2 {
    margin: 1rem 1.6rem 0;
    font-weight: 500;
}

.main-container .main-container-list {
    display: flex;
    gap: 1rem;
    margin: 0 2.4rem 2rem;
    color: var(--primary-text-color);
}

.main-container .main-container-list div {
    width: 100vw;
    background: var(--primary-bg-color);
    border-radius: 1rem;
}

.main-container .main-container-list ol {
    list-style-type: disc;
    text-align: left;
    padding: 1.2rem 1.6rem 2.2rem 3rem;
    min-height: 5rem;
}

.main-container .main-container-list ol li {
    margin: 0 0 1.2rem 0;
}

.main-container .main-container-list ol button {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--primary-text-color);
    cursor: pointer;
    margin: 0 0 0 .6rem;
}

.main-container .main-container-list ol span {
    font-size: 2rem;
    cursor: pointer;
    margin: 0 0 0 .6rem;
}

.main-container .main-container-list ol #check-task:hover {
    color: var(--check-task-color);
    transition: 250ms ease-out;
}

.main-container .main-container-list ol #archive-task:hover {
    color: var(--archive-task-color);
    transition: 250ms ease-out;
}

.main-container .main-container-list ol #delete-task:hover {
    color: var(--delet-task-color);
    transition: 250ms ease-out;
}

@media (max-width: 1250px) {
    .sidebar-container {
        display: none;
    }

    .main-container {
        width: 100%;
    }
}

@media (max-width: 930px) {
    .main-container .main-container-list {
        flex-wrap: wrap;
    }
}

@media (max-width: 350px) {
    .main-container .main-container-adding_task input {
        width: 18.5rem;
    }

    .main-container .main-container-list {
        margin: 0 1.6rem 2rem;
    }
}